body {
    margin:0;
    background-color: #6f256f;
    color:#c893c8
}

a {
    color:#c892c8;
    margin: 10px;
}

header {
    justify-content: center;
    display: flex;
    padding: 20px;
}

.donate-section {
    margin: 30px auto;
    text-align: center;
}

.donate-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 0;
}

.arrow {
    display: block;
    font-size: 20px;
    margin: 5px 0;
}


.map-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

footer {
    max-height: fit-content;
    text-align: center;
}

.footer-content {
    margin: 20px;
    padding: 50px;
}

